


.button {
    background-color: white; 
    border:2px solid black;
    color: black;
    padding: 15px 200px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position:relative;
    
}

.button2 {
    background-color: green; 
    border:2px solid black;
    color: white;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
.button3 {
    background-color: green; 
    border:2px solid black;
    color: white;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button4 {
    background-color: green; 
    border:2px solid black;
    color: white;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button5 {
    background-color: green; 
    border:2px solid black;
    color: white;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}



h1.sansserif {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
}

p {
    color: black;
}

p.review1 {   
color: black;

width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:300px;
    top: 500px;
}

p.review2 {   
color: black;

width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:300px;
    top: 1700px;
}

h2.sansserif {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
}

h2.sansserif2 {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
}  
h1.sansserif3 {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:320px;
    top: 20px;
}

h1.sansserif4 {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:320px;
    top: 1200px;
}

h4.date {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:100px;
    top: 30px;
}

h4.date2 {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:100px;
    top: 1210px;
}



img.frooze {
  position: absolute;
    right:300px;
    top: 100px; }   

    div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 280px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
    position: relative;
    right:200px;
    top: 700px;

}

div.img:hover {
    border: 1px solid #777;
}

div.img2:hover {
    border: 1px solid #777;
}


div.img img {
    width: 100%;
    height: auto;
}

div.img2 img {
    width: 100%;
    height: auto;
}


div.desc {
    padding: 15px;
    text-align: center;
}

div.img2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
    position: relative;
    left:400px;
    top: 1700px;
}
   div.desc2 {
    padding: 15px;
    text-align: center;
}

img.will {
  position: absolute;
    right:300px;
    top: 1300px; }   


h1.faq {position: absolute;
    right:500px;
    top: 100px; 
     font-size: 400%;
     font-family:Verdana, Geneva, sans-serif;
    color: black;} 

h2.q1 { font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:470px;
    top: 300px;
}


p.answer1 { color: black;

width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:510px;
    top: 400px; 

}

h2.q2 { font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:200px;
    top: 600px;
}


p.answer2 { color: black;

width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:510px;
    top: 700px; 

}


h2.q3 { font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:320px;
    top: 900px;
}


p.answer3 { color: black;

width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:510px;
    top: 1000px; 

}
h2.q4 { font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:480px;
    top: 1150px;
}


p.answer4 { color: black;

width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:510px;
    top: 1250px; 

}

h1.archive {font-family:Verdana, Geneva, sans-serif;
     font-size: 400%;
    color: black;
 position: absolute;
    right:510px;
    top: 100px; }


a.archivelink { color: black;
 position: absolute;
    right:565px;
    top: 250px; }

a.archivelink2 { color: black;
 position: absolute;
    right:485px;
    top: 300px; }

h1.Links { font-family:Verdana, Geneva, sans-serif;
     font-size: 400%;
    color: black;
 position: absolute;
    right:510px;
    top: 100px; }  

    li {
        font-size: 200%;
    }

    h2.youtube1 {position: absolute;
    right:510px;
    top: 300px;
    font-family:Verdana, Geneva, sans-serif;
     font-size: 150%;
    }

    iframe {
        position: absolute;
    right:360px;
    top: 500px;
    }

    audio {
         position: absolute;
    right:500px;
    top: 1000px;
    }

    h2.audio1 {
        position: absolute;
    right:430px;
    top: 900px;
    font-family:Verdana, Geneva, sans-serif;
     font-size: 150%;
    }