


.button {
    background-color: white; 
    border:2px solid black;
    color: black;
    padding: 15px 200px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button2 {
    background-color: green; 
    border:2px solid black;
    color: white;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
.button3 {
    background-color: green; 
    border:2px solid black;
    color: white;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button4 {
    background-color: green; 
    border:2px solid black;
    color: white;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button5 {
    background-color: green; 
    border:2px solid black;
    color: white;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}



h1.sansserif {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
}

p {
    color: black;
}

p.review1 {   
color: black;

width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:300px;
    top: 500px;
}

p.review2 {   
color: black;

width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:300px;
    top: 1700px;
}





h2.sansserif {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
}

h2.sansserif2 {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
}  
h1.sansserif3 {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:320px;
    top: 20px;
}

h1.sansserif4 {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:320px;
    top: 1200px;
}

h4.date {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:100px;
    top: 30px;
}

h4.date2 {
    font-family:Verdana, Geneva, sans-serif;
    color: black;
    position: absolute;
    right:100px;
    top: 1210px;
}



img.frooze {
  position: absolute;
    right:300px;
    top: 100px; }   

    div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 280px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
    position: relative;
    right:200px;
    top: 700px;

}

div.img:hover {
    border: 1px solid #777;
}

div.img2:hover {
    border: 1px solid #777;
}


div.img img {
    width: 100%;
    height: auto;
}

div.img2 img {
    width: 100%;
    height: auto;
}


div.desc {
    padding: 15px;
    text-align: center;
}

div.img2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
    position: relative;
    left:400px;
    top: 1700px;
}
   div.desc2 {
    padding: 15px;
    text-align: center;
}

img.will {
  position: absolute;
    right:300px;
    top: 1300px; }   

    h1.Contactus {
        font-family:Verdana, Geneva, sans-serif;
     font-size: 400%;
    color: black;
 position: absolute;
    right:510px;
    top: 100px; }

    p.contactinfo { 
    color: black;
    font-size: 200%;
    width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:500px;
    top: 300px; }

    p.contactinfo2 { 
    color: black;
    font-size: 200%;
    width: 400px;
    word-wrap: break-word;
    position: absolute;
    right:500px;
    top: 500px; }

    li {
        font-size: 200%;
    }